@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Ovo;
  font-display: swap;
  src: url("../fonts/Ovo-Regular.woff2") format("woff2"), url("../fonts/Ovo-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Ovo", sans-serif;
  background-color: #fff;
  overflow-anchor: none;
  font-size: 16px;
}

html.lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.container {
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
}

img,
svg {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
button,
textarea {
  font: inherit;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background: none;
  min-width: 10px;
}

label {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

select {
  outline: none;
  border: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: -120px;
}

::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #707070;
}

::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #707070;
}

:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #707070;
}

::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #707070;
}

::placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #707070;
}

/* Styles Header */

.header {
  position: relative;
  width: 100%;
  z-index: 2;
}

.header-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 30px 0;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.header-lang__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-lang__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 22px;
  max-width: 22px;
  margin-right: 8px;
}

.header-lang__svg {
  width: 17px;
  height: 18px;
  color: #fff;
}

.navigation {
  width: 100%;
  max-width: 1160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.nav__header {
  display: none;
}

.nav__close {
  width: 20px;
  height: 16px;
  position: relative;
}

.nav__close:after,
.nav__close:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 1px;
  background-color: #22252a;
}

.nav__close:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.nav__close:before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  margin-left: 22px;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  white-space: nowrap;
}

.logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-weight: 400;
  font-size: 50px;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25px;
  white-space: nowrap;
}

.contacts__item:first-child {
  margin-left: 0;
}

.contacts__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 22px;
  max-width: 22px;
  height: 22px;
}

.contacts__svg {
  width: 22px;
  height: 22px;
  color: #fff;
}

.contacts__text {
  margin-left: 8px;
}

.contacts__text a {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #fff;
  white-space: nowrap;
}

.burger {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
}

.burger__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 20px;
  height: 16px;
  position: relative;
}

.burger__menu span {
  position: absolute;
  left: 0px;
  top: 50%;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.burger__menu::before,
.burger__menu::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  left: 0;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.burger__menu::before {
  top: 0;
}

.burger__menu::after {
  bottom: 0;
}

/* Styles Footer */

.footer {
  background-color: #1E1E1E;
}

.footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-body__top {
  padding: 100px 0 70px;
  border-bottom: 1px solid #707070;
}

.footer-body__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-body__top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.footer-body__column {
  width: 22%;
  margin-right: 20px;
}

.footer-body__column:last-child {
  margin-right: 0;
}

.footer-body__title {
  font-weight: 400;
  font-size: 25px;
  line-height: 100%;
  color: #fff;
  margin-bottom: 45px;
  position: relative;
}

.footer-body__title:after {
  display: none;
  content: "";
  position: absolute;
  right: 0;
  top: 5px;
  width: 12px;
  height: 6px;
  background: url("../img/svg/arrow.svg") no-repeat center top/cover;
}

.footer-body__menu-item {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #cbcbcb;
}

.footer-body__menu-item a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #cbcbcb;
}

.footer-body__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
  margin: 0 -10px;
}

.footer-body__bottom-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-body__bottom-copyright {
  padding: 0 10px;
  position: relative;
}

.footer-body__bottom-copyright:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #fff;
}

.footer-body__bottom-copyright:last-child:after {
  display: none;
}

.footer-body__bottom-copyright a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 115%;
  color: #fff;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 55px;
  line-height: 115%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social__item {
  margin-left: 45px;
}

.footer-social__item:first-child {
  margin-left: 0;
}

.hero {
  position: relative;
  z-index: 1;
  height: 950px;
}

.no-webp .hero:after {
  background: url("../img/img/main.jpg") no-repeat center top/cover fixed; }

.hero:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 950px;
  z-index: -2;
}

.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 950px;
  background-color: rgba(74, 76, 81, 0.4);
  z-index: -1;
}

.hero-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 320px;
  width: 100%;
  height: 950px;
}

.main-title {
  width: 100%;
  max-width: 810px;
  margin-bottom: 60px;
}

.main-title__subtitle {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: calc(14px + 0.5521472393vw);
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 15px;
}

.main-title__title {
  font-weight: 400;
  font-size: calc(35px + 1.226993865vw);
  line-height: 120%;
  color: #fff;
}

.form-select-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  max-width: 1000px;
}

.form-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.form-select__block {
  overflow: hidden;
  width: 33.333%;
  position: relative;
}

.form-select__block:first-child .form-select__header {
  border-radius: 50px 0 0 50px;
  border-right: 1px solid #fff;
}

.form-select__block:first-child .form-select__list {
  margin-top: -35px;
  padding-top: 35px;
  border-radius: 0 0 0 50px;
}

.form-select__block:last-child .form-select__header {
  border-radius: 0 50px 50px 0;
  border-left: 1px solid #fff;
}

.form-select__block:last-child .form-select__list {
  margin-top: -35px;
  padding-top: 35px;
  border-radius: 0 0 50px 0;
}

.form-select__header {
  padding: 25px 40px;
  background-color: #6176a2;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 115%;
  color: #fff;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.form-select__header:after {
  display: block;
  content: "";
  position: absolute;
  right: 25px;
  top: 35px;
  width: 12px;
  height: 6px;
  background: url("../img/svg/arrow.svg") no-repeat center top/cover;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.form-select__header.active:after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.form-select__list {
  margin-top: -30px;
  padding-top: 30px;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  background-color: #6176a2;
  position: relative;
}

.form-select__list .open {
  padding: 30px 0;
}

.form-select__item {
  padding-left: 40px;
  margin-bottom: 25px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 115%;
  color: #fff;
}

.form-select__btn {
  margin-top: 10px;
  margin-left: 25px;
}

.form-select__btn .main-btn__img {
  margin-left: 0;
  background-color: #fff;
  cursor: pointer;
}

.form-select__btn .main-btn__svg {
  color: #6176a2;
}

.section-blocks {
  padding: 50px 0;
}

.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.blocks__body {
  width: 33.333%;
  padding: 15px;
}

.blocks__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blocks__img {
  margin: 0 auto;
  margin-bottom: 15px;
}

.blocks__title {
  text-align: center;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 115%;
  color: #333333;
}

.blocks__text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 115%;
  color: #333333;
  max-width: 406px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__img-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 865px;
  overflow: hidden;
}

.about__img-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 735px;
  padding: 50px;
  background-color: #f1f3f8;
}

.about__foreword {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  color: #758ec0;
  margin-bottom: 5px;
}

.about__title {
  font-weight: 400;
  font-size: 55px;
  font-size: calc(32px + 1.4110429448vw);
  line-height: 115%;
  color: #18171f;
  margin-bottom: 20px;
}

.about__text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 125%;
  color: #1e1e1e;
  margin-bottom: 40px;
}

.main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.main-btn__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #6176a2;
}

.main-btn__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  background-color: #758ec0;
  border-radius: 50%;
  margin-left: 20px;
}

.main-btn__svg {
  width: 29px;
  height: 29px;
  color: #fff;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.section {
  padding-top: 100px;
}

.section-title__title {
  font-weight: 400;
  font-size: calc(35px + 2.1472392638vw);
  line-height: 115%;
  color: #161616;
  margin-bottom: 15px;
}

.section-title__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: #161616;
}

.section-catalog .section-title {
  max-width: 745px;
}

.catalog {
  margin-top: 45px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.7fr 0.8fr;
  grid-template-columns: 1fr 0.7fr 0.8fr;
  -ms-grid-rows: 535px 110px 450px;
  grid-template-rows: 535px 110px 450px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.catalog__item {
  overflow: hidden;
  position: relative;
}

.catalog__item_item1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 3;
  grid-row-end: 4;
}

.catalog__item_item2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

.catalog__item_item3 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

.catalog__item_item4 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 4;
}

.catalog__item_item5 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

.catalog__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.catalog__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.catalog__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  width: 100%;
  z-index: 1;
  bottom: 25px;
  right: 15px;
}

.catalog__btn .main-btn__link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-transform: lowercase;
  color: #fff;
}

.section-novuy {
  margin-bottom: 100px;
}

.novuy-dom-body {
  background-color: #f1f3f8;
  padding: 80px 20px;
}

.novuy-dom-body__content {
  max-width: 1300px;
  margin: 0 auto;
}

.section-novuy .section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 80px;
}

.section-novuy .section-title__title {
  width: 50%;
  max-width: 550px;
  margin-right: 25px;
}

.section-novuy .section-title__subtitle {
  width: 50%;
  max-width: 590px;
}

.novuy-dom__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 425px;
  overflow: hidden;
}

.novuy-dom__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.form__input {
  width: 100%;
  background-color: #fff;
  border-radius: 50px;
  margin-right: 35px;
  padding: 20px 20px 20px 40px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: #161616;
}

.form__button {
  width: 100%;
  max-width: 340px;
  background: #6176A2;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 5px 5px 45px;
  cursor: pointer;
}

.form__button-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 115%;
  color: #fff;
}

.form__button-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #fff;
}

.form__button-svg {
  width: 29px;
  height: 29px;
  color: #161616;
}

/* @media (max-width: 1440px) */

/* @media (max-width: 1360px) */

/* @media (max-width: 1240px) */

/* @media (max-width: 992px) */

/* @media (max-width: 768px) */

/* @media (max-width: 520px) */

/* @media (max-width: 375px) */

/* @media min-width */

/* @media (min-width: 991px) */

/* @media (min-width: 761px) */

/* @media (min-width: 520px) */

/* @media (min-width: 375px) */

@media (min-width: 1630px) {
  .main-title__title {
    font-size: 55px;
  }

  .main-title__subtitle {
    font-size: 23px;
  }

  .about__title {
    font-size: 55px;
  }

  .section-title__title {
    font-size: 70px;
  }
}

@media (max-width: 1360px) {
  .catalog {
    -ms-grid-rows: 420px 110px 350px;
    grid-template-rows: 420px 110px 350px;
  }
}

@media (max-width: 1140px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .navigation {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    z-index: 100;
    padding: 0;
  }

  .navigation:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(182, 182, 183);
    opacity: 0;
    visibility: hidden;
    z-index: -10000;
  }

  .navigation.menu-active {
    left: 0;
  }

  .navigation.menu-active:before {
    opacity: 0.5;
    visibility: visible;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: -1;
  }

  .mobile-close {
    display: block;
  }

  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 60px 20px;
    background-color: #fff;
    height: 100%;
    overflow: auto;
  }

  .nav__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

  .nav__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }

  .nav__logo .logo {
    color: #22252a;
    position: static;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
  }

  .nav__list {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .nav__item {
    width: 100%;
    margin-left: 0;
  }

  .nav__link {
    color: #22252a;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 15px 0;
  }

  .catalog {
    -ms-grid-rows: 350px 90px 275px;
    grid-template-rows: 350px 90px 275px;
  }
}

@media (max-width: 992px) {
  .section {
    padding-top: 40px;
  }

  .hero-body {
    margin-top: 150px;
  }

  .form-select-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
  }

  .form-select {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #6176a2;
    padding: 25px;
    border-radius: 35px;
    overflow: hidden;
  }

  .form-select__block {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
  }

  .form-select__header {
    font-size: 15px;
    padding: 15px 25px;
  }

  .form-select__header:after {
    top: 20px;
  }

  .form-select__item {
    padding-left: 25px;
    margin-bottom: 20px;
    font-size: 15px;
  }

  .form-select__btn {
    margin: 20px auto 0;
  }

  .section-about .container {
    padding: 0;
  }

  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .about__img-content,
  .about__text-content {
    max-width: 100%;
  }

  .about__text-content {
    padding: 50px 0px;
  }

  .about__img-content {
    height: 350px;
    margin-bottom: 25px;
  }

  .about__foreword,
  .about__title,
  .about__text,
  .about__btn {
    padding: 0 15px;
  }

  .about__text {
    margin-bottom: 10px;
  }

  .main-btn__img {
    width: 55px;
    height: 55px;
  }

  .catalog {
    margin-top: 30px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 500px 350px 350px 500px 350px;
    grid-template-rows: 500px 350px 350px 500px 350px;
    grid-column-gap: 0;
  }

  .catalog__item {
    overflow: hidden;
    position: relative;
  }

  .catalog__item_item1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  .catalog__item_item2 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  .catalog__item_item3 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }

  .catalog__item_item4 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 4;
        grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }

  .catalog__item_item5 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 5;
        grid-row-start: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 6;
  }

  .section-novuy .container {
    padding: 0;
  }

  .section-novuy {
    margin-bottom: 40px;
  }

  .section-novuy .novuy-dom-body {
    padding: 40px 20px;
  }

  .section-novuy .section-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }

  .section-novuy .section-title__title {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
  }

  .section-novuy .section-title__subtitle {
    width: 100%;
    max-width: 100%;
  }

  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__input {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .form__button {
    max-width: 100%;
  }

  .novuy-dom__img {
    height: 320px;
  }

  .footer-body__logo {
    margin-bottom: 50px;
  }

  .footer-body__top {
    padding: 60px 0;
  }

  .footer-body__top-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-body__top-menu {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-body__column {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-body__column:last-child {
    margin-bottom: 0;
  }

  .footer-body__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer-body__bottom-column {
    margin-bottom: 25px;
  }

  .footer-body__bottom-column:last-child {
    margin-bottom: 0;
  }

  .footer-body__title {
    margin-bottom: 0;
  }

  .footer-body__title:after {
    display: block;
  }

  .footer-body__menu-list {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .footer-body__menu-list.open {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .navigation {
    width: 100%;
  }

  .header-lang {
    margin-top: 50px;
  }

  .header-lang__text {
    color: #22252a;
  }

  .header-lang__svg {
    color: #22252a;
  }

  .main-title__title {
    font-size: calc(35px + 34 * (100vw - 320px) / 1630);
  }

  .main-title__subtitle {
    font-size: calc(14px + 15.3 * (100vw - 320px) / 1630);
  }

  .blocks__body {
    width: 100%;
  }

  .section-title__title {
    font-size: calc(35px + 59.5 * (100vw - 320px) / 1630);
  }

  .section-title__subtitle {
    font-size: 16px;
  }

  .contacts {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 20px;
  }

  .contacts__text {
    color: #22252a;
  }

  .contacts__svg {
    color: #22252a;
  }
}

@media (max-width: 520px) {
  .catalog {
    -ms-grid-rows: 500px 250px 250px 500px 250px;
    grid-template-rows: 500px 250px 250px 500px 250px;
  }

  .form-select {
    padding: 15px;
  }
}

@media (max-width: 375px) {
  .footer-body__bottom-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer-body__bottom-copyright {
    margin-bottom: 15px;
  }

  .footer-body__bottom-copyright:after {
    display: none;
  }
}

@media (max-width: 320px) {
  .main-title__title {
    font-size: 35px;
  }

  .main-title__subtitle {
    font-size: 14px;
  }

  .section-title__title {
    font-size: 35px;
  }
}

.webp .hero:after { background: url(../img/img/main.webp) no-repeat center top/cover fixed; }